<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuestros Heroes </h1>
    <h2>Ada Lovelace</h2>
    <img src="/images/adalovelace.png" alt="" width="200px">
    <p>Ada Augusta Byron nació en Londres en 1815. Era hija de la adinerada Annabella Milbanke y el poeta Lord Byron. La joven Ada recibió lecciones de matemáticas y ciencia en un intento, por parte de su madre, de erradicar la herencia de locura poética que llevaba en los genes. ...</p>
    <ul type="none">
        <li><a href="/AlanTuring">Alan Turing</a></li>

       <li><a href="/TimBerners">Tim Berners</a></li>

       <li><a href="/JoaneClarke">Joane Clarke</a></li>

       <li><a href="/AdaLovelace">Ada Lovelace</a></li>

       <li><a href="/CharlesBabbage">Charles Babbage</a></li>

       <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>

       <li><a href="/GraceMurray">Grace Murray</a></li>
   </ul>
</body>
</html>