<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuestros Heroes </h1>
    <h2>Alan Turing</h2>
    <img src="/images/alanturing.png" alt="" width="200px">
    <p>Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).</p>
    <ul type="none">
        <li><a href="/AlanTuring">Alan Turing</a></li>

       <li><a href="/TimBerners">Tim Berners</a></li>

       <li><a href="/JoaneClarke">Joane Clarke</a></li>

       <li><a href="/AdaLovelace">Ada Lovelace</a></li>

       <li><a href="/CharlesBabbage">Charles Babbage</a></li>

       <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>

       <li><a href="/GraceMurray">Grace Murray</a></li>
   </ul>
   
    
</body>
</html>