<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuestros Heroes </h1>
    <h2>Charles Babbarge </h2>
    <img src="/images/charlesbabbage.png" alt="" width="200px">
    <p>Charles Babbage [Walworth (Londres, Reino Unido), 1791 – Marylebone (Londres, Reino Unido), 1871]. Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina calculadora mecánica diferencial y una máquina analítica. Conocido por muchos como el padre de la computación digital.</p>
    <ul type="none">
        <li><a href="/AlanTuring">Alan Turing</a></li>

       <li><a href="/TimBerners">Tim Berners</a></li>

       <li><a href="/JoaneClarke">Joane Clarke</a></li>

       <li><a href="/AdaLovelace">Ada Lovelace</a></li>

       <li><a href="/CharlesBabbage">Charles Babbage</a></li>

       <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>

       <li><a href="/GraceMurray">Grace Murray</a></li>
   </ul>
</body>
</html>