<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuestros Heroes </h1>
    <h2>Grace Murray</h2>
    <p>Grace Murray Hopper nació el 9 de diciembre de 1906, en Nueva York, y murió en Arlington, Virginia (USA) el 1 de enero de 1992. Grace Hopper fue un distinguido oficial de la marina estadounidense y una destacada científica computacional. Hopper fue uno de los programadores del primer gran ordenador, el Mark I</p>
    <img src="/images/gracemurray.png" alt="" width="200px">
    <ul type="none">
        <li><a href="/AlanTuring">Alan Turing</a></li>

       <li><a href="/TimBerners">Tim Berners</a></li>

       <li><a href="/JoaneClarke">Joane Clarke</a></li>

       <li><a href="/AdaLovelace">Ada Lovelace</a></li>

       <li><a href="/CharlesBabbage">Charles Babbage</a></li>

       <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>

       <li><a href="/GraceMurray">Grace Murray</a></li>
   </ul>

</body>
</html>