<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuestros Heroes </h1>
    <h2>Margaret Hamilton</h2>
    <img src="/images/margarethamilton.png" alt="" width="200px">
    <p>Margaret Hamilton fue una auténtica pionera en una época en la cual la programación no se consideraba ni ciencia. Y lo hizo con determinación, contra viento y marea, aprendiendo lenguajes informáticos de forma autodidacta. Ayudó a crear lo que serían las bases de la programación, las bases de la ingeniería de software, término que ella misma acuñó. Según cuenta, muchos compañeros de la NASA se burlaron de ella cuando utilizó aquel término por primera vez, y lo siguieron haciendo hasta que un día un “gurú” de la programación le dio la razón: aquel término era correcto y la ingeniería de software una nueva rama de la ciencia.</p>
    <ul type="none">
         <li><a href="/AlanTuring">Alan Turing</a></li>

        <li><a href="/TimBerners">Tim Berners</a></li>

        <li><a href="/JoaneClarke">Joane Clarke</a></li>

        <li><a href="/AdaLovelace">Ada Lovelace</a></li>

        <li><a href="/CharlesBabbage">Charles Babbage</a></li>

        <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>

        <li><a href="/GraceMurray">Grace Murray</a></li>
    </ul>
    
    
</body>
</html>