<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuestros Heroes </h1>
    <h2> Tim Berners</h2>
    <img src="images/timBerners.png" alt="px" width="200px">
    <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.</p>
    <ul type="none">
        <li><a href="/AlanTuring">Alan Turing</a></li>

       <li><a href="/TimBerners">Tim Berners</a></li>

       <li><a href="/JoaneClarke">Joane Clarke</a></li>

       <li><a href="/AdaLovelace">Ada Lovelace</a></li>

       <li><a href="/CharlesBabbage">Charles Babbage</a></li>

       <li><a href="/MargaretHamilton">Margaret Hamilton</a></li>

       <li><a href="/GraceMurray">Grace Murray</a></li>
   </ul>
</body>
</html>